<?xml version="1.0"?>

<robot name="smb" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="rgb_camera_camera_plugin" params="name link_name rate">

    <xacro:property name="camera_topic" value="/${name}/image_raw" />
    <xacro:property name="camera_info_topic" value="/${name}/camera_info" />

    <gazebo reference="${link_name}">
        <sensor name="camera" type="camera">
          <camera>
            <horizontal_fov>1.047</horizontal_fov>
            <image>
              <width>1440</width>
              <height>1080</height>
            </image>
            <clip>
              <near>0.1</near>
              <far>100</far>
            </clip>
            <distortion>
              <k1>-0.11201</k1>
              <k2>0.097448</k2>
              <k3>0.0</k3>
              <p1>-0.000374</p1>
              <p2>-0.000438</p2>
              <center_x>744.4645</center_x>
              <center_y>560.9802</center_y>
            </distortion>
          </camera>
          <always_on>1</always_on>
          <update_rate>5</update_rate>
          <visualize>true</visualize>
          <topic>camera</topic>
          <optical_frame_id>rgb_camera_optical_link</optical_frame_id>
          <frame_id>rgb_camera_optical_link</frame_id>
        </sensor>
      <!-- <sensor type="camera" name="${name}">
        <pose>0.0066 0 0 0 0 0</pose>
        <visualize>false</visualize>
        <update_rate>${rate}</update_rate>
        <camera>
          <horizontal_fov>1.192</horizontal_fov>
          <image>
            <width>1440</width>
            <height>1080</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.01</near>
            <far>100</far>
          </clip>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>0.007</stddev>
          </noise>
        </camera>
        <plugin name="gazebo_ros_camera_controller" filename="libgazebo_ros_camera.so">
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>${name}</cameraName>
          <imageTopicName>${camera_topic}</imageTopicName>
          <cameraInfoTopicName>${camera_info_topic}</cameraInfoTopicName>
          <frameName>${name}_optical_link</frameName>
          <hackBaseline>0.07</hackBaseline>
          <distortionK1>0.0</distortionK1>
          <distortionK2>0.0</distortionK2>
          <distortionK3>0.0</distortionK3>
          <distortionT1>0.0</distortionT1>
          <distortionT2>0.0</distortionT2>
        </plugin>
      </sensor> -->
    </gazebo>
  </xacro:macro>
</robot>